<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All menus</title>
</head>
<body>
    {% for menu in menus %}
        <h2><a href="{{ menu.get_absolute_url }}">{{ menu }}</a></h2>
    {% endfor %}
</body>
</html>