{% load static %}
{% load menuapp_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ menu }}</title>
    <link type="text/css" href="{% static 'menuapp/css/style.css' %}" rel="stylesheet" />
</head>
<body>
    {% get_submenus menu_id=menu_id as submenus %}
    <div class="accordion">
        <h1>{{ menu }}</h1>
        {% for submenu in submenus %}
        <input id="toggle1" type="radio" class="accordion-toggle" name="toggle" />
        <label for="toggle1">{{ submenu }}</label>
            {% for dish in dishes %}
            {% if dish.submenu_id == submenu.id %}
            <section>
                <p>{{ dish }}</p>
            </section>
            {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>